/* STart Global Rules*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143/70%);
  --paragraph-color: #777;
  --section-padding: 100px;
}

html {
  /*اي سكرول بيصير بالاتش تي ام ال راح يكون ناعم ولازم انتبه عالتوافقيه بكل المتصفحات*/
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}

.clearfix {
  clear: both;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules*/

/*Start Header*/
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  width: calc(
    100% - 30px
  ); /*عشان البادينج من اليمين واليسار اللي تبع الكونتينر*/
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1; /*هاي معناها انه خلي العنصر يوحذ باقي المساحه الموجوده للأب*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) /*768 وفوق*/ {
  header .container nav .toggle {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}

@media (max-width: 768px) /*768 وتحت*/ {
  header .container nav ul {
    display: none;
  }
}

header .container nav .toggle:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0 0 0 / 50%);
}

header .container .toggle:hover + ul li a {
  padding: 15px !important;
}

header .container nav ul li a {
  display: block; /*to respect our criteria*/
  padding: 40px 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 3;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 40px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/*End Header*/

/*Start Landing*/
.landing {
  min-height: 100vh; /*عشان تملي الشاشه عندي*/
  background-color: #1232; /*بديل عن الصوره اللي تحته في حال ما ظهرت الصوره هو بظهر*/
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .landing .text {
    width: 100%;
    justify-content: center;
  }
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
@media (max-width: 768px) {
  .change-background {
    display: none;
  }
}
.landing .change-background:first-of-type {
  left: 30px;
}
.landing .change-background:last-of-type {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 5px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*End Landing*/

/*Start Services*/
.srevices {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.srevices .services-container .srv-box {
  display: flex;
}

.srevices .services-container .srv-box i {
  margin-right: 50px;
}

.srevices .services-container .srv-box .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.srevices .services-container .srv-box .text p {
  line-height: 2;
  color: var(--paragraph-color);
}

@media (min-width: 768px) {
  .srevices .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

@media (max-width: 767px) {
  .srevices .srv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .srevices .services-container .srv-box i {
    margin: 0 0 30px;
  }
}
/*end Services*/

/*Start design*/
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  /*طريقة ثانيه لعمل طبقة فوق العنصر تبعي بدل ما اعمل ديف وانسقه*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  top: 50%;
  transform: translateY(-50%);
}
.design .text h2 {
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  /*طريقة اضافة ايكون باستخدام البيفور والافتر */
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 800; /*في ايكونز ما بتبين الا باستخدام الفونت ويت */
  margin-right: 20px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
/*End design*/

/*Start Portfolio*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px 20px;
}

.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .images-container {
  display: flex;
  flex-wrap: wrap; /*اذا بتطلع برا الكونتينر بتنزل سطر*/
  margin-top: 60px;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}

.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%; /* نفس المينيموم ويدث بس بصيرلها شرنك وجرو احسن */
  }
}

@media (min-width: 1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%; /* نفس المينيموم ويدث بس بصيرلها شرنك وجرو احسن */
  }
}

.portfolio .images-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .images-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .images-container .box:hover .caption {
  bottom: 0;
}

.portfolio .images-container .box .caption h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio .images-container .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  color: white;
  background-color: var(--main-color);
  padding: 15px 20px;
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 30px auto;
  text-transform: uppercase;
}
/*End Portfolio*/

/*  Start Video section*/
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  left: 0;
  background-color: rgba(0, 0, 0, 40%);
}
.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: var(--transparent-color);
  padding: 60px;
  color: white;
}

.video .text h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 30px;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  border: none;
  padding: 10px 30px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
/*  End Video section*/

/*Start About*/
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px; /*عشان اقلل المساحه اللي بين الصوره والهيدنج*/
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px; /*عشان اقلل المساحه اللي بين الصوره والهيدنج*/
  }
}
/*End About*/

/*Start Statistics*/
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("../images/stats.png");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%; /* الويدث للبوكس ع شاشات التلفون*/
  }
}

@media (min-width: 767px) {
  .stats .container .box {
    flex-basis: 50%; /* الويدث للبوكس عالشاشات التابلتس*/
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%; /* الويدث للبوكس عالشاشات الوسط*/
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .container .box .number {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}
/*End Statistics*/

/*Start Skills*/
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*عشان لو بطل في مساحه بالكونتينر ينزل العنصر الثاني لتحت*/
}

@media (min-width: 992px) {
  .our-skills .container > div /*Direct child (div) in container*/ {
    flex-basis: 45%;
  }
}

.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.our-skills .container > div > p {
  color: var(--paragraph-color);
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.our-skills .testimonials .content {
  display: flex;
  margin-bottom: 35px;
  align-items: flex-start; /*عشان اتجنب السترتش في الصوره اذا حصل*/
}

.our-skills .testimonials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

.our-skills .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .content .text p {
  color: var(--paragraph-color);
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}

.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center; /*لما استخدم الفلميس بستخدم هاي الجستفاي عشان اوسط العناصر بالأب*/
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
}

.our-skills .skills .prog-holder {
  margin-bottom: 50px;
}

.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
  background-color: #dadedc;
  height: 30px;
}

.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -17px;
  padding: 4px 0;
  width: 45px;
  text-align: center;
  border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  position: absolute;
  top: -15px;
  right: -4px;
}
/*End Skills*/

/*Start Quote*/
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative; /*عشان يوخذ التدرج الطبيعي ويطلع فوق الطبقه الشفافه*/
}
.quote q::before {
  /*طريقة اضافة ايكون باستخدام البيفور والافتر */
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 700; /*في ايكونز ما بتبين الا باستخدام الفونت ويت */
  margin-right: 10px;
  font-size: 12px;
  position: relative;
  top: -2px;
}
.quote q::after {
  /*طريقة اضافة ايكون باستخدام البيفور والافتر */
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 700; /*في ايكونز ما بتبين الا باستخدام الفونت ويت */
  margin-left: 10px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.quote q {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
/*End Quote*/

/* start pricing*/
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 30px;
}

.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}

.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: 600;
}

.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 10px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/MO";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing .plans .plan ul {
  border-bottom: qpx solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 120px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.pricing .plans .plan .foot a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: black;
}

.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
  line-height: 1.6;
}

.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 15px 30px;
}
/*End pricing*/

/*Start Subscribe*/
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0/ 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form /*هاي السبيس معناها اي بليس هولدر جوا الفورم*/ ::placeholder {
  color: white;
}

.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px; /*ستين من اليسار عشان اخلي مجال لما احط الايكون*/
  caret-color: var(--main-color); /*هاي الخاصيه بتغيرلي لون الكيرسر*/
  width: calc(100% - 130px);
  color: white;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}

.subscribe p {
  line-height: 2;
  margin-left: 50px;
}

@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
    text-align: center;
  }
}

/*End Subscribe*/

/*Start Contact*/
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .contact .content {
    flex-direction: column;
  }
}

.contact .content form {
  flex-basis: 70%;
}

.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}

.contact .content form .main-input:focus {
  outline: none;
}

.contact .content form textarea.main-input {
  height: 200px;
}

.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 15px 40px;
  border: none;
  display: flex; /*هاي الفليكس والمارجن اللي تحته بتسمحلي اودي العنصر عاليمين بدون الفلوت والغلبه*/
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 576px) {
  .contact .content .info {
    order: -1; /*بتعيد ترتيب العناصر الفليكس والسالب واحد بصير فوق الباقي اللي ترتيبهم اكبر*/
    text-align: center;
  }
}

.contact .content .info .box h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: var(--paragraph-color);
  margin-bottom: 10px;
}

.contact .content .info .box:nth-of-type(2) h4 {
  margin-top: 100px;
}

@media (max-width: 576px) {
  .contact .content .info .box:nth-of-type(2) h4 {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: var(--paragraph-color);
  line-height: 2;
}
@media (max-width: 576px) {
  .contact .content .info address {
    margin-bottom: 30px;
  }
}
/*End Contact*/

/*Start Footer*/
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0/ 70%);
}

.footer .container {
  position: relative; /*عشان الزيد اندكس يشتغل بشكل طبيعي للعناصر والترتيب الطبيعي*/
}

.footer img {
  margin-bottom: 20px;
}

.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 24px;
  width: fit-content;
  margin: 20px auto;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
}

.footer .social-icons li {
  margin: 0 10px 0;
}

.footer .social-icons li i {
  font-size: 20px;
}

.footer .copyright {
  margin-top: 60px;
}

.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/*End Footer*/

/*Start Componetns*/
.main-heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-heading h2 {
  margin-bottom: 50px;
  position: relative;
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 1px;
  background-color: black;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}
.main-heading p {
  width: 600px;
  max-width: 100%; /*عشان في حال ضغر الاب تاعه في الموبايل ما يطبع برا الاب لا يوخذ بس الحجم من الاب تاعه */
  margin: 0 auto 100px;
  color: var(--paragraph-color);
}
/*End Componetns*/
